linux-*/
*.tar.xz*
*.deb
*.rpm
*.buildinfo
*.changes
*.log
*_old/
vmlinux*
System.map
Module.symvers
modules.builtin*
modules.order
.config
.config.old
debian/canonical-*.pem
linux-firmware/
NVIDIA-*.run
node_modules/
.next/
dist/
build/
